HF_TOKEN=sf9gwfgisbv
#Support for hugging face is not implemented yet

OPEN_API_KEY=sk-142936r9823
#Supabase (https://supabase.com/) serverless option is used as SQL and Vector storage
DATABASE_URL=postgresql://postgres:password@db.your-project.supabase.co:5432/postgres

MODEL_ID=gpt-4o-mini
EMBEDDING_MODEL_ID=text-embedding-3-small